@import url(https://fonts.googleapis.com/css?family=sans-serif);
body{
    font-family: 'Roboto';

}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html, body{
    height:100%;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;

}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;


}
ul li:hover a{
    padding-left: 50px;

}
.sidebar ul a i{
    margin-right: 16px;

}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;

}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 6px;
    transition: all .5s;
   

}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 6px 6px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
    
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0%;
    pointer-events: none;

}
#check:checked ~ label #cancel{
    left: 195px;
}
.container{
    background-image: url(arkim.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    
    

    
    

}

@media screen and (max-width: 1000px) {
    .sidebar{
        position: fixed;
        left: -2000px;
        width: 1000px;
        height: 100%;
        background: #042331;
        transition: all .5s ease;
    }



    .sidebar header{
        
        font-size: 60px;
        color: white;
        text-align: center;
        line-height: 120px;
        background: #063146;
        user-select: none;
        
    
    }
    .sidebar ul a{
        display: block;
        height: 100%;
        width: 100%;
        line-height: 300px;
        font-size: 60px;
        color: white;
        padding-left: 303px;
        box-sizing: border-box;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-bottom: 1px solid black;
        transition: .4s;
    
    
    }
    label #btn, label #cancel{
        position: absolute;
        cursor: pointer;
        background: #000000;
        border-radius: 100px;
    
    }
    label #btn{
        position: fixed;
        left: 70px;
        top: 80px;
        font-size: 100px;
        color: white;
        padding: 20px 20px;
        transition: all .5s;
       
    
    }
    label #cancel{
        z-index: 1111;
        left: -195px;
        top: 17px;
        font-size: 50px;
        color: white;
        padding: 15px 15px;
        transition: all .5s ease;
    }
    #check:checked ~ label #cancel{
        left: 70px;
        top 60px;
    
    }
    .container{
        
        background: url(arkim.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 1000px 2200px;
        background-attachment: fixed;
        
        
        
        
        
    
        
        
    
    }
}
